<li>
  <span {{bind-attr class=':state project.workflowStateShort'}}>
    {{project.workflowState}}
  </span>
  {{project.percentFunded}}% funded
  <span class='id'>{{project.id}}</span>
  <div class='title'>
    <a {{bind-attr href=project.url}} target=_blank>
      {{#if project.title}}
        {{project.title}}
      {{else}}
        Untitled
      {{/if}}
    </a>
  </div>
</li>
