{{#if model}}
  <div class='user'>
    {{model.email}}
    <span class='id'>{{model.id}}</span>

    <div class='name'>{{model.name}}</div>

    <div class='count'>
      Backed {{model.backedProjectCount}} projects
    </div>

    <div class='count'>
      Created {{model.projects.length}} projects:
    </div>

    <ul class='projects'>
      {{#each project in model.projects}}
        <li>
          <span {{bind-attr class=':state project.workflowStateShort'}}>
            {{project.workflowState}}
          </span>
          {{project.percentFunded}}% funded
          <span class='id'>{{project.id}}</span>
          <div class='title'>
            <a {{bind-attr href=project.url}} target=_blank>
              {{#if project.title}}
                {{project.title}}
              {{else}}
                Untitled
              {{/if}}
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <p>Is not a known user</p>
{{/if}}
