{{#if model}}
  <div class='user'>
    {{model.email}}
    <span class='id'>{{model.id}}</span>

    <div class='name'>{{model.name}}</div>

    <div class='count'>
      Backed {{model.backedProjectCount}} projects
    </div>

    <div class='count'>
      Created {{model.projects.length}} projects:
    </div>

    <ul class='projects'>
      {{#each project in model.projects}}
        {{partial "projects/row"}}
      {{/each}}
    </ul>
  </div>
{{else}}
  <p>Is not a known user</p>
{{/if}}
